header{
    background-color: #04003c;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p {
    background-color: #04003c;
    text-align: right;
}

img{
    padding: 3px;
}

.botaoLogin{
    position: relative;
    float: right;
}

.botaoTurma {
    width: 100% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.acao-editar-deletar {
    width: 175px;
}

.botao-editar-deletar {
    width: 75px;
    padding: 5px;
}


#rodape img{
    margin-bottom: 0px;
   
}


