@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 
#container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;

}

#container svg {
    transform-origin: center;
    animation: scale 0.25s ease-out forwards;
    animation-delay: 0.5s;
}

#container circle {
    fill: transparent;
    stroke: #4caf50;
    stroke-width: 5;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    stroke-linecap: round;
    animation: progress 0.5s ease-out forwards;
    transform: rotate(-90deg);
    transform-origin: center;
}

.checkmark {
    fill: none;
    stroke: #fff;
    stroke-width: 10;
    stroke-dasharray: 75;
    stroke-dashoffset: 75;
    animation: checkmark 0.25s ease-out forwards;
    animation-delay: 0.75s;
}

@keyframes progress {
    0% {
       fill: transparent; 
       stroke-dashoffset: 283;
    }

    99% {
        fill: transparent;
    }

    100% {
        fill: #4caf50;
        stroke-dashoffset: 0;
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 75;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
