#progressBarContainer {
    width: 50%;
    background-color: #ddd;
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

#progressBar {
    width: 1%;
    height: 20px;
    background-color: #12a30d;
    animation: progressBarFill 5s linear forwards;
    border-radius: 0.5rem;
    margin-top: 10px;
    
}

@keyframes progressBarFill {
    from {
        width: 1%;
    }

    to {
        width: 100%;
    }
}